## 気象データの前処理

In [ ]:
data_period = '202001to202309'

### 東京

In [1]:
import pandas as pd

raw_df = pd.read_csv('/Users/koki/PycharmProjects/MasterThesis/data/raw/weather_tokyo_' + data_period + '.csv')
raw_df

,date_time,prec_no,block_no,pressure_ground,pressure_sea,rainfall,temperature,dew_point_humidity,vapor_pressure,humidity,windspeed_value,windspeed_direction,sunshine_hours,global_solar_radiation,snowfall,snowdepth,weather,cloud_amount,visibility
0,2020-01-01 00:00:00,44,47662,1015.9,1018.9,0.0,3.7,-7.7,3.4,43.0,4.5,335.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,2020-01-01 01:00:00,44,47662,1016.7,1019.7,0.0,3.7,-7.7,3.4,43.0,6.0,315.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,2020-01-01 02:00:00,44,47662,1016.9,1019.9,0.0,3.5,-7.9,3.4,43.0,4.3,335.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,2020-01-01 03:00:00,44,47662,1017.1,1020.1,0.0,3.6,-7.5,3.5,44.0,4.8,335.0,0.0,0.0,0.0,0.0,晴れ,4,20.0
4,2020-01-01 04:00:00,44,47662,1017.4,1020.4,0.0,4.0,-7.4,3.5,43.0,4.7,315.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32851,2023-09-30 19:00:00,44,47662,1005.6,1008.4,0.0,25.5,21.8,26.1,80.0,2.7,180.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
32852,2023-09-30 20:00:00,44,47662,1005.4,1008.2,0.0,25.2,22.1,26.6,83.0,3.5,180.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
32853,2023-09-30 21:00:00,44,47662,1005.0,1007.8,0.0,25.9,20.5,24.1,72.0,4.0,203.0,0.0,0.0,0.0,0.0,晴れ,5,30.0
32854,2023-09-30 22:00:00,44,47662,1004.7,1007.5,0.0,26.0,20.8,24.5,73.0,5.5,203.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
32855,2023-09-30 23:00:00,44,47662,1004.0,1006.7,0.0,26.0,20.8,24.5,73.0,3.7,203.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [2]:
# date_time          = 測定日時
# prec_no            = 地域コード
# block_no           = 地点コード
# pressure_ground    = 気圧(地表)(hPa)
# pressure_sea       = 気圧(海面)(hPa)
# rainfall           = 降水量(mm)
# temperature        = 気温(℃)
# dew_point_humidity = 露点湿度(℃)
# vapor_pressure     = 蒸気圧(hPa)
# humidity           = 湿度(%)
# windspeed_value    = 風速(m/s)
# windspeed_direction = 風向
# sunshine_hours     = 日照時間(h)
# global_solar_radiation = 全天日射量(MJ/m2)
# snowfall          = 降雪(cm)
# snowdepth         = 積雪(cm)
# weather           = 天気
# cloud_amount      = 雲量
# visibility        = 視程(km)

In [3]:
cols = ['date_time',
       'rainfall', 'temperature', 'dew_point_humidity',
       'humidity', 'windspeed_value', 'sunshine_hours',
       'global_solar_radiation', 'snowfall', 'weather']
df = raw_df[cols]
df

,date_time,rainfall,temperature,dew_point_humidity,humidity,windspeed_value,sunshine_hours,global_solar_radiation,snowfall,weather
0,2020-01-01 00:00:00,0.0,3.7,-7.7,43.0,4.5,0.0,0.0,0.0,NaN
1,2020-01-01 01:00:00,0.0,3.7,-7.7,43.0,6.0,0.0,0.0,0.0,NaN
2,2020-01-01 02:00:00,0.0,3.5,-7.9,43.0,4.3,0.0,0.0,0.0,NaN
3,2020-01-01 03:00:00,0.0,3.6,-7.5,44.0,4.8,0.0,0.0,0.0,晴れ
4,2020-01-01 04:00:00,0.0,4.0,-7.4,43.0,4.7,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
32851,2023-09-30 19:00:00,0.0,25.5,21.8,80.0,2.7,0.0,0.0,0.0,NaN
32852,2023-09-30 20:00:00,0.0,25.2,22.1,83.0,3.5,0.0,0.0,0.0,NaN
32853,2023-09-30 21:00:00,0.0,25.9,20.5,72.0,4.0,0.0,0.0,0.0,晴れ
32854,2023-09-30 22:00:00,0.0,26.0,20.8,73.0,5.5,0.0,0.0,0.0,NaN
32855,2023-09-30 23:00:00,0.0,26.0,20.8,73.0,3.7,0.0,0.0,0.0,NaN

In [4]:
df.isna().sum()

date_time                     0
rainfall                      0
temperature                   2
dew_point_humidity            0
humidity                      4
windspeed_value               5
sunshine_hours                0
global_solar_radiation        0
snowfall                      0
weather                   23273
dtype: int64

In [5]:
# 前後1時間の平均をとってfillna
df['humidity'] = df['humidity'].interpolate()
df['windspeed_value'] = df['windspeed_value'].interpolate()

/var/folders/jl/rwg2lghn7dx6j3k1gh9qpmrw0000gn/T/ipykernel_71880/497479371.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['humidity'] = df['humidity'].interpolate()
/var/folders/jl/rwg2lghn7dx6j3k1gh9qpmrw0000gn/T/ipykernel_71880/497479371.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['windspeed_value'] = df['windspeed_value'].interpolate()

In [6]:
df = df.iloc[range(0, len(df), 3),:]
df[df['weather'].isna()]

,date_time,rainfall,temperature,dew_point_humidity,humidity,windspeed_value,sunshine_hours,global_solar_radiation,snowfall,weather
0,2020-01-01 00:00:00,0.0,3.7,-7.7,43.0,4.5,0.0,0.0,0.0,NaN
24,2020-01-02 00:00:00,0.0,4.1,-1.5,67.0,2.1,0.0,0.0,0.0,NaN
48,2020-01-03 00:00:00,0.0,4.9,-0.7,67.0,1.7,0.0,0.0,0.0,NaN
72,2020-01-04 00:00:00,0.0,6.3,0.2,65.0,2.1,0.0,0.0,0.0,NaN
96,2020-01-05 00:00:00,0.0,3.7,-0.1,76.0,3.3,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
32736,2023-09-26 00:00:00,0.0,21.6,19.7,89.0,1.2,0.0,0.0,0.0,NaN
32760,2023-09-27 00:00:00,0.0,23.7,20.6,83.0,1.4,0.0,0.0,0.0,NaN
32784,2023-09-28 00:00:00,0.0,24.4,22.5,89.0,1.8,0.0,0.0,0.0,NaN
32808,2023-09-29 00:00:00,0.0,25.9,23.8,88.0,1.8,0.0,0.0,0.0,NaN
32832,2023-09-30 00:00:00,0.0,24.6,21.3,82.0,3.2,0.0,0.0,0.0,NaN

In [7]:
df.isna().sum()

date_time                    0
rainfall                     0
temperature                  0
dew_point_humidity           0
humidity                     0
windspeed_value              0
sunshine_hours               0
global_solar_radiation       0
snowfall                     0
weather                   1369
dtype: int64

In [8]:
# 1時間後の天気を使ってｆllna
df['weather'] = df['weather'].fillna(method='bfill')
df

/var/folders/jl/rwg2lghn7dx6j3k1gh9qpmrw0000gn/T/ipykernel_71880/1361431455.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weather'] = df['weather'].fillna(method='bfill')

,date_time,rainfall,temperature,dew_point_humidity,humidity,windspeed_value,sunshine_hours,global_solar_radiation,snowfall,weather
0,2020-01-01 00:00:00,0.0,3.7,-7.7,43.0,4.5,0.0,0.00,0.0,晴れ
3,2020-01-01 03:00:00,0.0,3.6,-7.5,44.0,4.8,0.0,0.00,0.0,晴れ
6,2020-01-01 06:00:00,0.0,4.1,-6.8,45.0,4.7,0.0,0.00,0.0,曇
9,2020-01-01 09:00:00,0.0,5.2,-5.7,45.0,1.8,0.6,0.71,0.0,晴れ
12,2020-01-01 12:00:00,0.0,9.4,-4.5,37.0,1.9,1.0,1.93,0.0,快晴
...,...,...,...,...,...,...,...,...,...,...
32841,2023-09-30 09:00:00,0.0,26.2,21.4,75.0,2.7,0.1,0.99,0.0,曇
32844,2023-09-30 12:00:00,0.0,27.1,21.4,71.0,2.4,0.2,1.71,0.0,曇
32847,2023-09-30 15:00:00,0.0,26.8,22.4,77.0,1.3,0.0,0.67,0.0,晴れ
32850,2023-09-30 18:00:00,0.0,25.6,21.7,79.0,2.9,0.0,0.01,0.0,晴れ
32853,2023-09-30 21:00:00,0.0,25.9,20.5,72.0,4.0,0.0,0.00,0.0,晴れ

In [9]:
df.isna().sum()

date_time                 0
rainfall                  0
temperature               0
dew_point_humidity        0
humidity                  0
windspeed_value           0
sunshine_hours            0
global_solar_radiation    0
snowfall                  0
weather                   0
dtype: int64

In [10]:
df = pd.get_dummies(df, columns=['weather'])
df = df.reset_index(drop=True)
df = df.add_prefix('東京_')
df

,東京_date_time,東京_rainfall,東京_temperature,東京_dew_point_humidity,東京_humidity,東京_windspeed_value,東京_sunshine_hours,東京_global_solar_radiation,東京_snowfall,東京_weather_みぞれ,東京_weather_快晴,東京_weather_晴れ,東京_weather_曇,東京_weather_薄曇,東京_weather_雨,東京_weather_雪,東京_weather_雷電,東京_weather_霧雨
0,2020-01-01 00:00:00,0.0,3.7,-7.7,43.0,4.5,0.0,0.00,0.0,0,0,1,0,0,0,0,0,0
1,2020-01-01 03:00:00,0.0,3.6,-7.5,44.0,4.8,0.0,0.00,0.0,0,0,1,0,0,0,0,0,0
2,2020-01-01 06:00:00,0.0,4.1,-6.8,45.0,4.7,0.0,0.00,0.0,0,0,0,1,0,0,0,0,0
3,2020-01-01 09:00:00,0.0,5.2,-5.7,45.0,1.8,0.6,0.71,0.0,0,0,1,0,0,0,0,0,0
4,2020-01-01 12:00:00,0.0,9.4,-4.5,37.0,1.9,1.0,1.93,0.0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10947,2023-09-30 09:00:00,0.0,26.2,21.4,75.0,2.7,0.1,0.99,0.0,0,0,0,1,0,0,0,0,0
10948,2023-09-30 12:00:00,0.0,27.1,21.4,71.0,2.4,0.2,1.71,0.0,0,0,0,1,0,0,0,0,0
10949,2023-09-30 15:00:00,0.0,26.8,22.4,77.0,1.3,0.0,0.67,0.0,0,0,1,0,0,0,0,0,0
10950,2023-09-30 18:00:00,0.0,25.6,21.7,79.0,2.9,0.0,0.01,0.0,0,0,1,0,0,0,0,0,0
10951,2023-09-30 21:00:00,0.0,25.9,20.5,72.0,4.0,0.0,0.00,0.0,0,0,1,0,0,0,0,0,0

In [11]:
# df.to_csv('/Users/koki/PycharmProjects/MasterThesis/data/preprocessed/weather_tokyo_202001to202309_preprocessed.csv', index=False, encoding='utf-8')

---
### 東京以外

In [12]:
import pandas as pd

raw_df = pd.read_csv('/Users/koki/PycharmProjects/MasterThesis/data/raw/weather_hachioji_202001to202309.csv')
raw_df

,date_time,prec_no,block_no,rainfall,temperature,windspeed_value,windspeed_direction,sunshine_hours
0,2020-01-01 00:00:00,44,366,0.0,2.2,1.7,335.0,0.0
1,2020-01-01 01:00:00,44,366,0.0,0.6,2.7,293.0,0.0
2,2020-01-01 02:00:00,44,366,0.0,-0.2,1.2,293.0,0.0
3,2020-01-01 03:00:00,44,366,0.0,-0.7,0.4,248.0,0.0
4,2020-01-01 04:00:00,44,366,0.0,-1.1,1.1,270.0,0.0
...,...,...,...,...,...,...,...,...
32851,2023-09-30 19:00:00,44,366,0.0,24.6,1.4,180.0,0.0
32852,2023-09-30 20:00:00,44,366,0.0,23.6,1.2,203.0,0.0
32853,2023-09-30 21:00:00,44,366,0.0,22.9,1.0,225.0,0.0
32854,2023-09-30 22:00:00,44,366,0.0,22.6,0.5,248.0,0.0
32855,2023-09-30 23:00:00,44,366,0.0,22.2,2.6,315.0,0.0

In [13]:
# date_time          = 測定日時
# prec_no            = 地域コード
# block_no           = 地点コード
# rainfall           = 降水量(mm)
# temperature        = 気温(℃)
# windspeed_value    = 風速(m/s)
# windspeed_direction = 風向
# sunshine_hours     = 日照時間(h)

In [14]:
cols = ['date_time', 'rainfall', 'temperature', 'windspeed_value', 'sunshine_hours']
df = raw_df[cols]
df

,date_time,rainfall,temperature,windspeed_value,sunshine_hours
0,2020-01-01 00:00:00,0.0,2.2,1.7,0.0
1,2020-01-01 01:00:00,0.0,0.6,2.7,0.0
2,2020-01-01 02:00:00,0.0,-0.2,1.2,0.0
3,2020-01-01 03:00:00,0.0,-0.7,0.4,0.0
4,2020-01-01 04:00:00,0.0,-1.1,1.1,0.0
...,...,...,...,...,...
32851,2023-09-30 19:00:00,0.0,24.6,1.4,0.0
32852,2023-09-30 20:00:00,0.0,23.6,1.2,0.0
32853,2023-09-30 21:00:00,0.0,22.9,1.0,0.0
32854,2023-09-30 22:00:00,0.0,22.6,0.5,0.0
32855,2023-09-30 23:00:00,0.0,22.2,2.6,0.0

In [15]:
df.isna().sum()

date_time          0
rainfall           0
temperature        5
windspeed_value    7
sunshine_hours     0
dtype: int64

In [16]:
# 前後1時間の平均をとってfillna
df['temperature'] = df['temperature'].interpolate()
df['windspeed_value'] = df['windspeed_value'].interpolate()

/var/folders/jl/rwg2lghn7dx6j3k1gh9qpmrw0000gn/T/ipykernel_71880/162482517.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temperature'] = df['temperature'].interpolate()
/var/folders/jl/rwg2lghn7dx6j3k1gh9qpmrw0000gn/T/ipykernel_71880/162482517.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['windspeed_value'] = df['windspeed_value'].interpolate()

In [17]:
df.isna().sum()

date_time          0
rainfall           0
temperature        0
windspeed_value    0
sunshine_hours     0
dtype: int64

In [18]:
df = df.iloc[range(0, len(df), 3),:].reset_index(drop=True).add_prefix('八王子_')
df

,八王子_date_time,八王子_rainfall,八王子_temperature,八王子_windspeed_value,八王子_sunshine_hours
0,2020-01-01 00:00:00,0.0,2.2,1.7,0.0
1,2020-01-01 03:00:00,0.0,-0.7,0.4,0.0
2,2020-01-01 06:00:00,0.0,-1.4,1.2,0.0
3,2020-01-01 09:00:00,0.0,2.9,0.5,1.0
4,2020-01-01 12:00:00,0.0,8.0,1.7,1.0
...,...,...,...,...,...
10947,2023-09-30 09:00:00,0.0,24.7,1.8,0.0
10948,2023-09-30 12:00:00,0.0,24.0,0.8,0.0
10949,2023-09-30 15:00:00,0.0,26.4,2.7,0.0
10950,2023-09-30 18:00:00,0.0,25.3,4.8,0.0
10951,2023-09-30 21:00:00,0.0,22.9,1.0,0.0

In [20]:
# df.to_csv('/Users/koki/PycharmProjects/MasterThesis/data/preprocessed/weather_hachioji_' + data_period + '_preprocessed.csv', index=False, encoding='utf-8')