In [5]:
import pandas as pd
import datetime

In [6]:
cases_jp = pd.read_csv('/Users/koki/PycharmProjects/MasterThesis/data/raw/newly_confirmed_cases_daily.csv')
cases_tokyo = cases_jp[["Date", "Tokyo"]]
cases_tokyo["Date"] = pd.to_datetime(cases_tokyo["Date"], format='%Y-%m-%d')
cases_tokyo

/var/folders/jl/rwg2lghn7dx6j3k1gh9qpmrw0000gn/T/ipykernel_14400/4096187793.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_tokyo["Date"] = pd.to_datetime(cases_tokyo["Date"], format='%Y-%m-%d')

           Date  Tokyo
0    2020-01-16      0
1    2020-01-17      0
2    2020-01-18      0
3    2020-01-19      0
4    2020-01-20      0
...         ...    ...
1204 2023-05-04    994
1205 2023-05-05    906
1206 2023-05-06   1062
1207 2023-05-07   2345
1208 2023-05-08   1331

[1209 rows x 2 columns]

In [7]:
# 1日のデータにつき8個分に増やす
lst = []
for i in range(cases_tokyo.shape[0]):
    for _ in range(8):
        lst.append(cases_tokyo.iloc[i,1])
len(lst)

9672

In [8]:
# 3時間ごとの日付を取得
date = pd.date_range(start=cases_tokyo.iloc[0,0], end=cases_tokyo.iloc[-1,0]+datetime.timedelta(days=1), freq='3h')[:-1]

# concat date and cases
new_cases_tokyo = pd.DataFrame(columns=['Date', 'Cases_Tokyo'])
new_cases_tokyo.iloc[:,0] = date
new_cases_tokyo.iloc[:,1] = lst

new_cases_tokyo

/var/folders/jl/rwg2lghn7dx6j3k1gh9qpmrw0000gn/T/ipykernel_14400/139759549.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  new_cases_tokyo.iloc[:,0] = date
/var/folders/jl/rwg2lghn7dx6j3k1gh9qpmrw0000gn/T/ipykernel_14400/139759549.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  new_cases_tokyo.iloc[:,1] = lst

                    Date  Cases_Tokyo
0    2020-01-16 00:00:00            0
1    2020-01-16 03:00:00            0
2    2020-01-16 06:00:00            0
3    2020-01-16 09:00:00            0
4    2020-01-16 12:00:00            0
...                  ...          ...
9667 2023-05-08 09:00:00         1331
9668 2023-05-08 12:00:00         1331
9669 2023-05-08 15:00:00         1331
9670 2023-05-08 18:00:00         1331
9671 2023-05-08 21:00:00         1331

[9672 rows x 2 columns]

In [9]:
new_cases_tokyo.to_csv('/Users/koki/PycharmProjects/MasterThesis/data/preprocessed/covid_cases_tokyo_preprocessed.csv', index=False, encoding='utf-8')